{% extends 'base.html.twig' %}

{% block body %}
    <div class="bgHome">
    <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
        <p>Contenu</p><br>
    </div>
{% endblock %}