@import "variables.scss";

// article Concert

.content-show-article-concert {
  padding-left: 10%;
  padding-right: 10%;
}
.content-show-blockImage-concert{
  text-align: center;
  margin-top: -40px;
  margin-bottom: 60px;
}

.content-show-image-concert{
  width: 80%;
  border-radius: 30px 30px 30px 30px;
}

.content-show-text-concert{
  font-family: $fontApp;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 800px){
  .content-show-image-concert{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }

  .content-show-article-concert {
    padding-left: 3%;
    padding-right: 3%;
  }
  .content-show-text-concert{
    padding-left: 0px;
    padding-right: 0px;
  }
}

// article Recording
.content-show-article-recording{
  padding-left: 8%;
  padding-right: 8%;
  min-height: 450px;
}


.content-show-image-recording{
  border-radius: 10px;
  margin-right: 10%;
  margin-bottom: 20px;
  float: left;
  width: 30%;
}

.content-show-text-recording{
  font-family: $fontApp;
  text-align: justify;

}

@media screen and (max-width: 1150px){
  .content-show-image-recording{
    width: 40%;
  }
}

@media screen and (max-width: 700px){
  .content-show-image-recording{
    width: 50%;
  }
}

@media screen and (max-width: 500px){

  .content-show-article-recording{
    padding-left: 4%;
    padding-right: 4%;
    min-height: 450px;
  }
  .content-show-image-recording{
    margin-left: 10%;
    width: 80%;
    float: none;
    text-align: center;
  }
}

