.title-article{
  margin-bottom: -50px;
}

.allCards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards{
  margin-top: 100px;
  width: 40%;
}

.flange-left{
  width: 8px;
  height: 150px;
  background-color: #A77D43;
}

.flange-top{
  width: 180px;
  height: 35px;
  background-color: #A77D43;
}

.flange-title{
  text-align: center;
  padding-top: 4px;
  font-size: 1.3em;
  color: white;
  font-family: 'Kalam', cursive;
}

.content{
  width: 100%;
  height: 400px;
  border: solid 1px #A77D43;
  margin-left: 8px;
  margin-top: -150px;
}

// Cards CONCERT

.title-card-concert{
  height: 20%;
  text-align: center;
  font-size: 1.8em;
  padding-top: 10px;
  font-family: 'Kalam', cursive;
}

.img-card-concert{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 50%;
}

.text-card-concert{
  padding-top: 15px;
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
  height: 18%;
  font-family: 'Kalam', cursive;
  font-size: 1em;
}

.footer-card{
  height: 5%;
  padding-right: 3%;
  padding-left: 3%;
  display: flex;
  justify-content: space-between;
}

.footer-card-date{
  padding-top: 10px;
  font-family: 'Kalam', cursive;
  font-size: 0.7em;
  color: #A77D43;
}

.footer-link{
  color: #A77D43;
  font-family: 'Kalam', cursive;
  font-size: 1.1em;
}

.footer-card a:visited{
  color: #A77D43;
}

.footer-card :hover{
  text-decoration: underline;
  color: #A77D43;
}

@media screen and (max-width: 1400px) {

  .title-card-concert{
    height: 20%;
  }

  .img-card-concert{
    width: 80%;
    height: 50%;
  }

  .text-card-concert{
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media screen and (max-width: 1000px) {

  .content{
    height: 330px;
  }

  .title-card-concert{
    font-size: 1.4em;
    height: 20%;
  }

  .img-card-concert{
    width: 80%;
    height: 45%;
  }

  .text-card-concert{
    height: 20%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 800px){
  .cards{
    width: 70%;
  }
}

@media screen and (max-width: 500px){

  .content{
    height: 300px;
  }

  .cards{
    width: 80%;
  }

  .title-card-concert{
    font-size: 1.2em;
  }

  .img-card-concert{
    width: 75%;
    height: 40%;
  }

  .text-card-concert{
    font-size: 0.8em;
    height: 25%;
  }

  .footer-card-date{
    padding-top: 7px;
  }

}

// Cards RECORDING

.title-card-recording{
  height: 40%;
  padding-top: 15%;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Kalam', cursive;
}

.img-card-recording{
  float: right;
  border-radius: 50%;
  width: 40%;
  margin-right: 2%;
  margin-top: 2%;
}

.text-card-recording{
  padding-top: 10%;
  padding-right: 30%;
  padding-left: 5%;
  height: 48%;
  font-family: 'Kalam', cursive;
  font-size: 1em;
}

@media screen and (max-width: 1000px) {

  .title-card-recording{
    font-size: 1.4em;
  }

  .img-card-recording{
    width: 45%;
  }

  .text-card-recording{
    font-size: 0.9em;
    height: 45%;
  }

}

@media screen and (max-width: 450px){

  .title-card-recording{
    font-size: 1.2em;
  }

  .img-card-recording{
    width: 40%;
    height: 40%;
  }

  .text-card-recording{
    padding-left: 10%;
    padding-right: 10%;

  }
}
