@import "variables.scss";

nav{
  position: sticky;
  margin-bottom: 100px;
}

.bg-secondary {
  background-color: #1F2021 !important;
}

.logo {
  width: 100px;
}

.navbar-dark .navbar-nav .nav-link{
  color: $colorApp;
  font-family: $fontApp;
}
