<footer class="page-footer bg-secondary font-small blue fixed-bottom">


    <div class="contact-footer text-center">
        <a href="https://mdbootstrap.com/education/bootstrap/">Contacte-nous</a>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright: Krionari
    </div>

    <div class="social-network text-right">
        <a href="https://www.facebook.com/YvardOfficiel"><img class="img-footer logo-facebook" src="{{ asset('build/images/facebook.png') }}" alt="facebook"></a>
        <a href="https://twitter.com/YvardOfficiel"><img class="img-footer" src="{{ asset('build/images/twitter.png') }}" alt="twitter"></a>
        <a href="https://www.instagram.com/yvard_officiel/"><img class="img-footer" src="{{ asset('build/images/instagram.png') }}" alt="instagram"></a>
        <a href="https://www.youtube.com/channel/UCHPmyKk8Hm_n4RtxE0YX08Q"><img class="img-footer" src="{{ asset('build/images/youtube.png') }}" alt="youtube"></a>
    </div>

</footer>