<footer class="page-footer bg-secondary font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Krionari</a>
    </div>
    <!-- Copyright -->

</footer>